<nav style="background:#222; padding:10px;">
    <a href="/" style="color:white; margin-right:15px;">Home</a>

    {{#if user}}
        <!-- WHEN LOGGED IN -->
        <a href="/profile" style="color:white; margin-right:15px;">Edit Profile</a>
        <a href="/logout" class="logout-btn">Logout ({{user.username}})</a>
    {{else}}
        <!-- WHEN LOGGED OUT -->
        <a href="/login" style="color:white; margin-right:15px;">Login</a>
        <a href="/register" style="color:white;">Register</a>
    {{/if}}
</nav>
<a href="/products">Products</a>