{{!-- Home Page --}}
{{!-- title --}}
{{!-- user = logged-in user if session exists --}}

{{!< layout}}

<h2 class="page-title">Approved Products</h2>

<div class="product-grid">
    {{#each products}}
        <div class="product-card">
            <h3>{{productname}}</h3>
            <p>Price: {{unit_price}} Rwf</p>
            <p>Quantity: {{quantity}}</p>
            <p class="approved">Status: {{status}}</p>
        </div>
    {{/each}}
</div>
