<h1>Welcome to Sells System</h1>

<a href="/products">View Products</a>

{{#if user}}
    | <a href="/addproduct">Add Product</a>
    | <a href="/logout">Logout</a>
{{else}}
    | <a href="/login">Login</a>
{{/if}}
