<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="navbar">
        <a href="/">Home</a>

        {{#if user}}
            <a href="/dashboard">Dashboard</a>
            <a href="/logout" class="logout-btn">Logout ({{user.username}})</a>
        {{else}}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        {{/if}}
    </nav>

    <div class="container">
        {{{body}}}
    </div>

<footer class="site-footer">
    <p>© Copyright by Valens 2025 Selling Online</p>
</footer>
</body>
</html>
