 <link rel="stylesheet" href="/css/style.css">
<form id="registerForm">
    <h2>User Registration</h2>

    <label>Username</label>
    <input type="text" id="username" required /> <br><br>

    <label>Email</label>
    <input type="email" id="email" required /><br><br>

    <label>Phone</label>
    <input type="text" id="phone" required /><br><br>

    <label>Password</label>
    <input type="password" id="password" required /><br><br>

    <label>Select Role</label>
    <select id="role" required>
        <option value="">-- choose role --</option>
        <option value="admin">Admin</option>
        <option value="seller">Seller</option>
        <option value="customer">customer</option>
    </select> <br><br>

    <button type="submit">Register</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
document.getElementById("registerForm").addEventListener("submit", async function (e) {
    e.preventDefault();

    const data = {
        username: document.getElementById("username").value,
        email: document.getElementById("email").value,
        phone: document.getElementById("phone").value,
        password: document.getElementById("password").value,
        role: document.getElementById("role").value
    };

    try {
        const res = await axios.post("http://localhost:5000/register", data);
        alert("Registration successful!");
    } catch (error) {
        alert("Error: " + error.response.data.message);
    }
});
</script>
