<h2>Buy Product</h2>

<div>
    <h3>{{product.title}}</h3>
    <img src="{{product.image_url}}" style="width:300px; border-radius:8px;">
    <p>{{product.description}}</p>
    <p><b>Price:</b> {{product.price}} RWF</p>

    <button style="padding:10px; background:#ff9900; color:#fff; border-radius:5px; margin-top:20px;">
        Proceed to Payment
    </button>
</div>
